<div class="page_title">
  <h2 class="title"><%= @page_title %></h2>
</div>

<div class="page_form">
  <%= form_tag(messages_path, method: :post) do %>
    <div class="input_date">
      <%= text_field_tag :year, @dateinfo[:year].to_s %><%= label_tag :year, "年" %>
      <%= text_field_tag :month, @dateinfo[:month].to_s %><%= label_tag :month, "月" %>
      <%= text_field_tag :day, @dateinfo[:day].to_s %><%= label_tag :day, "日" %>
    </div>
    
    <div class="field">
      <%= label_tag :to_name, "送る相手の名前" %><br />
      <%= text_field_tag :to_name, @messages[:to_name] %>
    </div>
    
    <div class="field">
      <%= label_tag :to_email, "送る相手のメールアドレス" %><br />
      <%= text_field_tag :to_email, @messages[:to_email] %>
    </div>
    
    <div class="field">
      <%= label_tag :mail_title, "タイトル" %><br />
      <%= text_field_tag :mail_title, @messages[:title], {placeholder: "「〜さん」のようにメールのタイトルを入力してください"} %>
    </div>
    
    <div class="field">
      <%= label_tag :mail_contents, "本文" %><br />
      <%= text_area_tag :mail_contents, safe_join(@messages[:contents].split("¥n"), tag(:br)), {placeholder: "メールの本文を入力してください" } %>
      <%#= text_area_tag :contents,"", {autofocus: true, autocomplete: "off", placeholder: 'メールの本文をここへ入力してください。'} %>
    </div>
    
    <div class="actions">
      <%= submit_tag "Save", class: "save" %>
    </div>
  <% end %>
</div>