<div id="leftbar" class="bk_pink">
  <ul>
     <li><%= link_to 'log in', "#" %></li>
     <li><%= link_to 'sign up', "#" %></li>
     <li><%= link_to 'acount', "#" %></li>
     <li><%= link_to 'show all message', "#" %></li>
     <li><%= link_to 'log out', "#" %></li>
  </ul>
</div>